page-tarjeta-embarque {


#tarjeta{
    width: 86%;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 7%;
    margin-left: 7%;
    padding: 0px;
    padding-right: 0px;
}
.mitarjeta{
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    padding:0px 16px;
}

}
