page-contacto {

	.contactBox{
		border: 1px solid black;
		border-radius: 5px;
		padding: 5px;
		height: auto;
		font-size: 15px;
		width: 80%;
		margin: 10px 10%;
	}
	.enviar{
		background-color: #d50000;
		height: 40px;
		font-size: 22px;
		font-family: 'Lato', sans-serif;
		width: 82%;
		margin: 0px 9%;
	}

	.enviar:hover {
    background-color:#ff5131 !important;
}
	.web{
		margin:0px 9%;
	}

}