page-consulta-vuelo {

    
/*************************
****** Vuelos **********
*************************/

.infovuelo p{
    margin-bottom: 15px;
}

.infovuelo{
    border: 1px solid black;
    border-radius: 5px;
    width: 90%;
    margin-bottom: 15px;
}

}

